// Mobile
@media (max-width: 425px) {
  .container {
    padding: 0 10px;
  }

  .hdr {
    height: 700px;
  }

  .hdr_madia__box {
    position: absolute;
    top: 0;
    right: 110px;
  }

  .hdr {
    &__logo_name {
      margin-bottom: 10px;
    }

    &__text {
      margin-bottom: 10px;
    }

    &__more_btn {
      margin-bottom: 90px;
    }

    &__scroll_btn {
      margin-bottom: 20px;
    }
  }

  .hdr__main_arrow_left,
  .hdr__main_arrow_right {
    height: 50px;
  }

  .services {
    padding-top: 10px;
    padding-bottom: 5px;

    &__title {
      margin-bottom: 90px;
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 90px;
      }
    }

    &__link::after {
      top: -66px;
    }
  }

  .services_item__title {
    margin-bottom: 5px;
  }
}

// Tablet
@media (max-width: 768px) {
  .hdr {
    &__media_list {
      @include flex;
    }

    &__logo_link {
      padding-left: 6px;
    }
  }

  .hdr__media_btn:hover .hdr_media_item__list,
  .hdr__media_btn:active .hdr_media_item__list {
    display: block;
  }

  .hdr__media_btn:hover .hdr__media_icon,
  .hdr__media_btn:active .hdr__media_icon {
    visibility: hidden;
  }

  .hdr__list {
    display: none;
  }

  .hdr {
    &__logo_name {
      margin-bottom: 32px;
    }

    &__text {
      margin-bottom: 24px;
    }

    &__more_btn {
      margin-bottom: 150px;
    }

    &__scroll_btn {
      margin-bottom: 40px;
    }
  }

  .hdr__main_arrow_left,
  .hdr__main_arrow_right {
    height: 90px;
  }

  .services {
    padding-top: 46px;
    padding-bottom: 14px;

    &__title {
      margin-bottom: 114px;
    }

    &__list {
      @include flex($main: center, $cross: stretch);
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 120px;
      }
    }
  }

  .services_item__title {
    margin-bottom: 18px;
  }
}

// Laptop
@media (max-width: 1024px) {
  .hdr {
    height: 760px;

    &__logo_name {
      margin-bottom: 32px;
    }

    &__text {
      width: 80%;
      margin-bottom: 24px;
    }

    &__more_btn {
      margin-bottom: 150px;
    }

    &__scroll_btn {
      margin-bottom: 40px;
    }
  }

  .hdr__main_arrow_left,
  .hdr__main_arrow_right {
    height: 110px;
  }

  .services__item {
    width: 156px;
  }
}
