// Mobile
@media (max-width: 425px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .hdr {
    display: block;
    height: initial;
  }

  .hdr__logo_name {
    margin-bottom: 10px;
  }

  .hdr__text {
    margin-bottom: 10px;
  }

  .hdr__more_btn {
    margin-bottom: 90px;
  }

  .hdr__scroll_btn {
    margin-bottom: 20px;
  }

  .main_arrow__left,
  .main_arrow__right {
    height: 50px;
  }

  .main_arrow_bot__left,
  .main_arrow_bot__right {
    height: 50px;
  }

  .services {
    padding-top: 10px;
    padding-bottom: 5px;

    &__title {
      margin-bottom: 90px;
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 90px;
      }
    }

    &__link::after {
      top: -66px;
    }
  }

  .services_item__title {
    margin-bottom: 5px;
  }
}

// Tablet
@media (max-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .hdr {
    &__media_list {
      @include flex;
    }

    &__list {
      display: none;
    }
  }

  .hdr__media_btn:hover .hdr_media_item__list,
  .hdr__media_btn:active .hdr_media_item__list {
    display: block;
  }

  .hdr__media_btn:hover .hdr__media_icon,
  .hdr__media_btn:active .hdr__media_icon {
    visibility: hidden;
  }

  .hdr__logo_name {
    margin-bottom: 32px;
  }

  .hdr__text {
    margin-bottom: 24px;
  }

  .hdr__more_btn {
    margin-bottom: 150px;
  }

  .hdr__scroll_btn {
    margin-bottom: 40px;
  }

  .main_arrow__left,
  .main_arrow__right {
    height: 90px;
  }

  .main_arrow_bot__left,
  .main_arrow_bot__right {
    height: 90px;
  }

  .services {
    padding-top: 46px;
    padding-bottom: 14px;

    &__title {
      margin-bottom: 114px;
    }

    &__list {
      @include flex($main: center, $cross: stretch);
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 120px;
      }
    }
  }

  .services_item__title {
    margin-bottom: 18px;
  }
}

// Laptop
@media (max-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .hdr {
    height: 760px;
  }

  .hdr__logo_name {
    margin-bottom: 32px;
  }

  .hdr__text {
    width: 80%;
    margin-bottom: 24px;
  }

  .hdr__more_btn {
    margin-bottom: 150px;
  }

  .hdr__scroll_btn {
    margin-bottom: 40px;
  }

  .main_arrow__left,
  .main_arrow__right {
    height: 110px;
  }

  .main_arrow_bot__left,
  .main_arrow_bot__right {
    height: 110px;
  }

  .services__item {
    width: 156px;
  }
}
