@keyframes scroll {
  0% {
    top: -60px;
  }

  10% {
    top: -55px;
  }

  30% {
    top: -65px;
  }

  50% {
    top: -55px;
  }

  70% {
    top: -65px;
  }


  90% {
    top: -55px;
  }

  100% {
    top: -60px;
  }
}