// base
$family_releway_L: 'Raleway_L';
$family_base: 'Raleway';
$family_releway_BD: 'Raleway_BD';
$family_releway_BK: 'Raleway_BK';
$family_lato: 'Lato';
$family_lato_I_BD: 'Lato_I_BD';

$size_base: 13px;
$color_base: #ffffff;

$size_base_header: 18px;
$size_button_header: 15px;

$color_title: #2980b9;
$color_services: #616161;
$size_service: 20px;
$size_title: 25px;
