%link {
  text-decoration: none;
  display: inline-block;
}

%list {
  list-style: none;
}

%upper_center {
  text-transform: uppercase;
  text-align: center;
}

%mar_pad_zer {
  margin: 0;
  padding: 0;
}

%bg_position {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

%pseudo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: '';
}

%translateX_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// MAIN ARROW
%main_arrow {
  position: absolute;
  width: 50%;
  height: 206px;
}


%under_line {
  @extend %pseudo;
  margin-top: 9px;
  background-color: $color_title;
  width: 30px;
  height: 5px;
}

%main_arrow {
  position: absolute;
  width: 50%;
  height: 206px;
  bottom: -1px;
 }