.client_head {
  
  text-align: center;
  margin-top: 65px;
  margin-bottom: 70px;

  &__title {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #2980b9;
    margin-bottom: 45px;

    &::after {
      display: block;
      margin: 0 auto;
      content: '';
      background-color: #2980b9;
      width: 30px;
      height: 6px;
      margin-top: 16px;
    }
  }

  &__lorem {
    width: 360px;
    margin: 0 auto;
    font-size: 13px;
    color: #616161;
    position: relative;
  }
}

.client_list {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 85px;
  list-style: none;
  padding-bottom: 20px;
  width: 1140px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #2980b9;

  &__link {
    position: relative;
    display: block;
    &:hover{
      transform: scale(1.05);
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #287eb8;
      position: absolute;
      bottom: -38px;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }

    &:hover,
    &:focus,
    &:hover::after,
    &:focus::after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.slider {
  position: relative;
  width: 900px;
  margin: 0 auto;
}
.slider_info {
  text-align: center;
  font-size: 18px;
  color: #616161;
  list-style: none;
  margin-bottom: 25px;

  &__citation {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__autor {
    font-weight: bold;
  }

  &__founder {
    color: #287eb8;
  }
}

.slider_btns {
  cursor: pointer;
  position: absolute;
  border: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  top: 0;
  transform: translateY(50%);
}
.slider_btn {
  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }
}

.slider_btn__icon {
  width: 50px;
  height: 50px;
  padding: 0;
}
