.client_head {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 70px;

  &__title {
    font-family: $family_releway_BD;
    text-transform: uppercase;
    font-size: $size_title;
    color: $color_title;
    margin-bottom: 45px;

    &::after {
      display: block;
      margin: 0 auto;
      content: '';
      background-color: $color_title;
      width: 30px;
      height: 6px;
      margin-top: 16px;
    }
  }

  &__lorem {
    max-width: 360px;
    margin: 0 auto;
    font-size: $size_base;
    color: $color_services;
    position: relative;
  }
}

.client_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 85px;
  list-style: none;
  padding-bottom: 20px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid $color_title;
  max-width: 1170px;

  &__link {
    position: relative;
    display: block;
    &:hover {
      transform: scale(1.05);
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $color_title;
      position: absolute;
      bottom: -38px;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }

    &:hover,
    &:focus,
    &:hover::after,
    &:focus::after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.slider {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.slider_info {
  text-align: center;
  font-size: 18px;
  color: $color_services;
  list-style: none;
  margin-bottom: 25px;

  &__citation {
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 60px;
  }

  &__autor {
    font-weight: bold;
    max-width: 300px;
    margin: 0 auto;
  }

  &__founder {
    color: $color_title;
  }
}

.slider_btns {
  cursor: pointer;
  position: absolute;
  border: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  top: 0;
  transform: translateY(50%);
}
.slider_btn {
  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }
}

.slider_btn__icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

@media (max-width: 1199px) {
  .client {
    padding: 0 10px;
  }

  .client_list {
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    border: none;
    &__link {
      width: 32%;
    }
    &__item {
      display: block;
      & img {
        width: 100%;
      }
    }
  }

  .slider_info {
    font-size: 13px;
  }
  .slider_btn {
    top: 50%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 320px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .slider_btn {
    top: 65%;
  }

  .client_list {
    &__link {
      &::after {
        display: none;
      }
    }
  }

  .client_list {
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    border: none;
    &__link {
      width: 45%;
    }
    &__item {
      display: block;
      & img {
        width: 100%;
      }
    }
  }
}
