.client_head {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    margin-top: 65px;
  
    &__title {
      font-family: Raleway;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
      color: #2980b9;
      margin-bottom: 45px;
    }
  
    &__lorem {
      width: 360px;
      font-size: 13px;
      color: #616161;
      position: relative;
    }
  }