.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url('../images/BG.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
  position: relative;
}

.ftr_arrow {
  &__left {
    @extend %main_arrow;
    left: 1px;
    top: -1px;
    background: linear-gradient(
      to bottom left,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 0, 0, 0) 50%
    );
  }

  &__right {
    @extend %main_arrow;
    right: 1px;
    top: -1px;
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 0, 0, 0) 50%
    );
  }
}

.footer_head {
  align-content: center;
  text-align: center;
  padding-top: 265px;
  margin-bottom: 60px;

  &__title {
    font-family: $family_releway_BD;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $size_title;
    margin-bottom: 25px;

    &::after {
      display: block;
      margin: 0 auto;
      content: '';
      background-color: $color_base;
      width: 30px;
      height: 5px;
      margin-top: 15px;
    }
  }

  &__lorem {
    max-width: 360px;
    margin: 0 auto;
    font-size: 13px;
    // color: #ffffff;
  }
}

.footer_list {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 85px;

  &__link {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-content: center;
    width: 200px;
    // padding: 10px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon {
    width: 60px;
    margin: 0 auto;
    height: 60px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &_info {
    font-size: 15px;
  }
}

.footer_license {
  text-align: center;
  font-size: 15px;
}


@media (max-width:1199px){
  .footer{
    padding: 0 10px; 
    padding-bottom: 30px;
  }
  
.footer_list{
  max-width: 599px;
}

  .footer_head{
    &__lorem{
      max-width: 320px;
    }
  }
}

@media (max-width:419px){
  .footer_list{
    max-width: 200px;
  }
}