.hdr {
  height: 960px;
  position: relative;
  background-image: url('../images/hero-01.jpg');
  @extend %bg_position;
  background-size: cover;
  @include flex($axis: column, $cross: stretch);

  &__nav {
    height: 114px;
    @include flex;
  }

  &__logo_link {
    @extend %link;
  }

  &__list {
    @extend %list;
    width: 488px;
    @include flex;
  }

  &__link {
    @extend %link;
    font-size: $size_base_header;
    color: $color_base;
  }
}

.hdr__media_list {
  display: none;
  @extend %list;
}

.hdr__media_btn {
  @extend %btn_zer;
  position: relative;
}

.hdr__media_icon {
  width: 50px;
  height: 50px;
  fill: $color_base;
}

.hdr_media_item__list {
  display: none;
  position: absolute;
  right: 0;
  top: 16px;
  @extend %list;
}

.hdr_media_item__item:not(:last-of-type) {
    margin-bottom: 18px;
  }

.hdr__contents {
  @include flex($axis: column, $main: flex-start);
  z-index: 1;
}

.hdr__logo_name {
  margin-bottom: 40px;
}

.hdr__text {
  color: $color_base;
  font-size: $size_base_header;
  text-align: center;
  width: 60%;
  margin-bottom: 30px;
}

.hdr__more_btn {
  @extend %btn_zer;
  border: 2px solid $color_base;
  border-radius: 2px;
  width: 158px;
  height: 40px;
  text-align: center;
  font-family: $family_releway_BD;
  font-size: $size_button_header;
  color: $color_base;
  margin-bottom: 276px;
  cursor: pointer;
}

.hdr__scroll_btn {
  position: relative;
  @extend %btn_zer;
  font-family: $family_releway_L;
  font-size: $size_button_header;
  color: $color_base;
  @extend %upper_center;
  margin-bottom: 50px;
  cursor: pointer;

  &::before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('../images/png/mouse_scrolling-50.png');
    @extend %bg_position;
    @extend %translateX_center;
    top: -60px;
  }
}

.main_arrow {
  &__left {
    @extend %main_arrow;
    left: -1px;
    background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 1) 50%
    );
  }

  &__right {
    @extend %main_arrow;
    right: -1px;
    background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 1) 50%
    );
  }
}
