.portfolio-section {
  background-image: linear-gradient(
      rgba(33, 33, 33, 0.8),
      rgba(33, 33, 33, 0.8)
    ),
    url(../images/hero-02.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter-top::before {
  display: block;
  content: '';
  background: url(../images/Sep-top.png) top center no-repeat;
  margin: 0 auto;
  width: 100%;
  background-size: contain;
  margin: 0 auto;
  height: 210px;
  width: 100%;
}

.filter-bottom::after {
  display: block;
  content: '';
  background: url(../images/Sep-bot.png) top 0px center;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 190px;
  width: 100%;
}

.portfolio-section__title {
  font-size: 25px;
  color: rgb(250, 252, 254);
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.portfolio-section__title::after {
  display: block;
  margin: 0 auto;
  content: '';
  background-color: rgb(250, 252, 254);
  width: 30px;
  height: 6px;
  margin-top: 16px;
}

.portfolio-section__list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  list-style: none;
}

.portfolio-section__items {
  position: relative;
}

.overlay-portfolio {
  position: absolute;
  background: rgba(41, 128, 185, 0.9);
  width: 375px;
  height: 200px;
  visibility: hidden;
  cursor: pointer;
}

.portfolio-section__items:hover .overlay-portfolio {
  visibility: visible;
  transition: all 200ms linear;
}

.overlay-portfolio__inside {
  padding-top: 45px;
  text-align: center;
  color: #fafcfe;
  font-family: 'Raleway';
  font-size: 25px;
  font-weight: 700;
}

.overlay-portfolio__button {
  position: relative;
  border: 0;
  display: block;
  margin: 0 auto;
  background: #fafcfe;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin-top: 34px;
}

.overlay-portfolio__plus {
  fill: #2980b9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}
